.top-data-title-div {
    padding: 3% 4% 0% 4%;
}

.top-data-title {
    color: #95a5a6;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
}

.top-data-value {
    text-align: center;
    font-weight: bolder;
    font-size: 24px;
}

.update-time {
    color: #95a5a6;
    font-size: 12px;
    float: left;
    padding-right: 1%;
}